<div class="container">
    <div class="row">
        <div class="col-12 mt-5 text-center">
            <h1 class="mb-5">Страница не найдена!</h1>
            <button type="button" class="btn btn-dark mt-5" [routerLink]="'/'">На главную</button>
        </div>
    </div>
</div>