<div class="row pt-3 pb-3">
    <div class="col-8">
        <h2>Code Quiz</h2>
    </div>
    <div class="col text-right">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <span>{{currentUsername}}</span>
        <a class="d-inline-block mt-2 ml-4" [routerLink]="['/login']" (click)="onLogout()">Выйти</a>
    </div>
</div>
<hr class="mt-0">