.wrapper {
    max-height: 800px;
    overflow-y: auto;
}
tr > th:first-child {
    width: 15%;
}
tr > th:last-child {
    width: 17%;
}
.answer-row:hover {
    background-color: #e7e8ea;
}
td {
    position: relative;
}
.group-btn {
    font-size: 0;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    transform: translateY(-50%);
    display: none;
}
.group-btn button {
    width: 24px;
    height: 24px;
    position: relative;
}
.group-btn button:first-child {
    margin-right: 20px;
}
.fa {
    position: absolute;
    font-size: 18px;
}
.fa-check {
    top: 2px;
    left: 2px;
}
.fa-close {
    top: 2px;
    left: 4px;
}
.answer-row:hover .group-btn {
    display: block;
}
.answer-row:hover .statusText {
    display: none;
}
