<form name="form" (ngSubmit)="onSaveGame(f)" #f="ngForm">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Создать новую игру</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="gamename">Название игры</label>
            <input type="text"
                   class="form-control"
                   id="gamename"
                   name="gamename"
                   [(ngModel)]="newGame.name"
                   #gamename="ngModel"
                   required
                   [ngClass]="{ 'has-error': f.submitted && gamename.invalid || nameError && newGame.name === lastTriedName}"/>
                   <p *ngIf="nameError && newGame.name === lastTriedName" class="text-danger mt-2">{{nameErrorText}}</p>
        </div>
        <div class="form-group">
            <label for="link">Ссылка</label>
            <input type="text"
                   class="form-control"
                   id="link"
                   name="link"
                   [(ngModel)]="newGame.link"
                   #link="ngModel"
                   required
                   [ngClass]="{ 'has-error': f.submitted && link.invalid || linkError && newGame.link === lastTriedLink}"/>
                   <p *ngIf="linkError && newGame.link === lastTriedLink" class="text-danger mt-2">{{linkErrorText}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info">Сохранить</button>
        <button type="button" class="btn btn-dark" (click)="createGameModalRef.hide()">Отмена</button>
    </div>
</form>