<div class="container">
    <div class="row mt-3 mt-md-5">

        <div class="col-md-3 mb-md-5 order-2 order-md-1">
            <h3 class="d-md-none mb-3 text-center" *ngIf="questions && questions.length">Вопросы</h3>
            <ul class="list-group">
                <li *ngFor="let question of questions; let i = index" (click)="onQuestionSelect(i, question)" class="list-group-item mb-2 text-dark"
                    [ngClass]="{ 'list-group-item-info': activeQuestionIndex === i }">{{i+1}}. {{question.text}}</li>
            </ul>
        </div>

        <div class="col-md-6 order-1 order-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="!isPlaying" class="text-center">
                        <h2 *ngIf="players && !players.length" class="text-center">В игре нет игроков!</h2>
                        <div class="mt-5 mb-5">
                            <button *ngIf="players && players.length" type="button" class="btn btn-danger mr-3" (click)="onStart()">Играть</button>
                            <button *ngIf="questions" type="button" class="btn btn-dark" [routerLink]="['/']">Назад</button>
                        </div>
                    </div>
                    <div *ngIf="isPlaying" class="card text-center mb-3">
                        <div class="card-header bg-info text-white">(question_ID={{activeQuestion.id}})</div>
                        <div class="card-body">
                            <p class="card-text">{{activeQuestion.text}}</p>
                            <button *ngIf="activeQuestionIndex === 0 && !firstQuestionDelivered" type="button" class="btn btn-info mr-5" (click)="sendFirstQuestion()">Отправить первый вопрос</button>
                            <button *ngIf="activeQuestionIndex < questions.length - 1 && firstQuestionDelivered" type="button" class="btn btn-info mr-5"
                                (click)="onNext()">Следующий</button>
                            <button type="button" class="btn btn-dark" (click)="onFinish()">Завершить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-md-5 order-3">
            <h3 class="d-md-none mb-3 text-center" *ngIf="players && players.length">Участники</h3>
            <div *ngFor="let player of players" class="card mb-2">
                <div class="card-header">Имя игрока: {{player.username}} <span *ngIf="player.answered" class="float-right mt-1 fa fa-check-circle"></span></div>
                <div class="card-body">
                    <p class="card-text">Почта: {{player.email}}</p>
                </div>
            </div>
        </div>

    </div>
</div>