<div class="container">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>
    <form name="form" (ngSubmit)="f.valid && questionsToSend.length && onSaveQuiz()" #f="ngForm">
        <div class="form-group row">
            <label class="col-6 mb-0 text-right" for="quizName">
                <h3>Название викторины</h3>
            </label>
            <div class="col-6 col-md-5">
                <input type="text" class="form-control" id="quizName" name="quizName" [(ngModel)]="newQuiz.name" #quizName="ngModel" required
                    [ngClass]="{ 'has-error': f.submitted && quizName.invalid || creationError && newQuiz.name === lastTriedName }" />
                <p *ngIf="creationError && newQuiz.name === lastTriedName" class="text-danger mt-2">{{errorText}}</p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center mb-3">
            <div class="col-md-5">
                <button type="button" class="btn btn-block btn-info mb-3" (click)="onAdd()" [disabled]="isAdding">Добавить новый вопрос</button>
            </div>
            <div class="col-md-5">
                <div *ngIf="isAdding">
                    <input type="text" class="form-control mb-2" placeholder="Вопрос..." [ngClass]="{ 'has-error': !isQuestion }" #newQuestion/>
                    <p *ngIf="!isQuestion" class="text-danger mb-2">Нельзя добавить пустой вопрос</p>
                    <input type="text" class="form-control mb-2" placeholder="Ответ..." [ngClass]="{ 'has-error': !isAnswer }" #newAnswer/>
                    <p *ngIf="!isAnswer" class="text-danger mb-2">Нельзя добавить пустой ответ</p>
                    <button class="btn btn-info" type="button" (click)="onSaveQuestion(newQuestion.value, newAnswer.value)">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-secondary" type="button" (click)="isAdding = false; isQuestion = false; isAnswer = false;">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 mb-5">
                <h4 class="text-center mb-4">Перетащите вопросы вправо</h4>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-5">
                        <ul class="list-group source-bag" [dragula]="'my-bag'" [dragulaModel]="allQuestions">
                            <li *ngFor="let question of allQuestions; let i = index" class="list-group-item mb-2 question-item">{{question.text}}
                                <span class="delete-sign" (click)="onDeleteQuestion(question, i)">&times;</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-5">
                        <div class="mb-3">
                            <button class="btn btn-dark mr-3 mb-2 mb-md-0" type="button" [routerLink]="['/']">Назад</button>
                            <button class="btn btn-secondary mr-3 mb-2 mb-md-0" type="button" (click)="onClear()" [disabled]="!questionsToSend.length">Очистить</button>
                            <button class="btn btn-info">Сохранить</button>
                        </div>
                        <ul class="list-group border rounded target-bag p-2 bg-info" [ngStyle]="{ 'opacity': questionsToSend.length ? '1' : '0.5' }"
                            [ngClass]="{ 'border-danger': !questionsToSend.length && f.submitted }" style="min-height: 400px;"
                            [dragula]="'my-bag'" [dragulaModel]="questionsToSend">
                            <li *ngFor="let question of questionsToSend" class="list-group-item mb-2" style="cursor: pointer;">{{question.text}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>