.delete-sign {
    cursor: pointer; 
    position: absolute; 
    right: 10px; 
    top: 40%;
    line-height: 10px;
    display: none;
}
.delete-sign:hover {
    color: #f00;
    font-size: 28px;
    top: 39%;
    right: 7px;
}
.question-item {
    cursor: pointer;
    position: relative;
}
.question-item:hover > .delete-sign {
    display: block;
}