/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/img/bg.png");
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.ng-dirty.ng-invalid,
.has-error {
    border: 1px solid #f00;
}

.nav-link {
    padding: .40rem 1rem !important;
    border-top-right-radius: 1.25rem !important;
}
.customTab a {
    cursor: default;
    transition: all .15s ease-in-out !important;
    background-color: #e5e5e5;
    color: #000;
}
.customTab.active a {
    background-color: #17a2b8 !important;
    color: #fff !important;
    border-color: transparent !important;
}

.customTab.active:hover a {
    background-color: #138496 !important;
    border-color: #117a8b !important;
}

.customTab:hover a {
    background-color: #dad8d8 !important;
    border-color: #cfcfcf !important;
}



