<div class="container">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-md-5">
            <h2 class="text-center">Список викторин</h2>
            <hr>
            <button class="btn btn-info btn-block mb-4" [routerLink]="['/create']">Создать викторину</button>
            <accordion [closeOthers]="true">
                <accordion-group *ngFor="let quiz of quizzes; let i = index" #item class="mb-2" [@deleteQuiz]>
                    <div accordion-heading>{{quiz.name}}
                        <i class="fa pull-right mt-1" [ngClass]="{'fa-chevron-down': item.isOpen, 'fa-chevron-right': !item.isOpen}" aria-hidden="true"></i>
                    </div>
                    <p class="card-text text-secondary">id викторины: {{quiz.id}}</p>
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-sm btn-outline-info" type="button" (click)="onCreateGame(quiz)">Новая игра</button>
                        <!-- <button class="btn btn-sm btn-outline-info" type="button">Изменить</button> -->
                        <button class="btn btn-sm btn-outline-info" type="button" (click)="onDeleteQuiz(quiz, i)">Удалить</button>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-6 mb-md-5">
            <h2 class="text-center">Список игр</h2>
            <hr>
            <tabset [justified]="true">
                <tab heading="Готовые к проведению" customClass="customTab">
                    <accordion [closeOthers]="true" class="mt-4">
                        <accordion-group *ngFor="let game of currentGames; let i = index" #item class="mt-2" [@deleteGame]>
                            <div accordion-heading>{{game.name}}
                                <i class="fa pull-right mt-1" [ngClass]="{'fa-chevron-down': item.isOpen, 'fa-chevron-right': !item.isOpen}" aria-hidden="true"></i>
                            </div>
                            <p class="card-text text-secondary">id игры: {{game.id}}</p>
                            <p class="card-text text-secondary">Ссылка:
                                <strong>{{game.link}}</strong>
                            </p>
                            <p class="card-text text-secondary">Создана по викторине с id={{game.game_template}}</p>
                            <div class="text-center d-flex justify-content-around">
                                <button class="btn btn-sm btn-outline-info" type="button" [routerLink]="['/games/', game.id]" (click)="onSelectGame(game)">Начать игру</button>
                                <button class="btn btn-sm btn-outline-info" type="button" (click)="onDeleteGame(game, i)">Удалить</button>
                            </div>
                        </accordion-group>
                    </accordion>
                </tab>
                <tab heading="История" customClass="customTab">
                    <accordion [closeOthers]="true" class="mt-4">
                        <accordion-group *ngFor="let game of history; let i = index" #item class="mt-2" [@deleteGame]>
                            <div accordion-heading>{{game.name}}
                                <i class="fa pull-right mt-1" [ngClass]="{'fa-chevron-down': item.isOpen, 'fa-chevron-right': !item.isOpen}" aria-hidden="true"></i>
                            </div>
                            <p class="card-text text-secondary">id игры: {{game.id}}</p>
                            <p class="card-text text-secondary">Создана по викторине с id={{game.game_template}}</p>
                            <div class="text-center">
                                <button class="btn btn-sm btn-outline-info" type="button" [routerLink]="['/results/', game.id]">Результаты</button>
                            </div>
                        </accordion-group>
                    </accordion>
                </tab>
            </tabset>

        </div>
    </div>
</div>